:root {
  --bodyBackground: #f9f9f9;
  --elementBackground: #ffffff;
  --cian: #0ad4fa;
  --greyBackground: #ededed;
  /* --gradient: radial-gradient(50% 130%, #0ad4fa 51%, #25bbf1 100%); */
  --darkFont: #616161;
  --lightFont: #a3a3a3;
  --lightBars: #d9d9d9;
}
#root {
  background: var(--bodyBackground);
}
html {
  font-family: SourceSansPro-Regular;
  background-color: var(--bodyBackground);
}
.navbar, .filters{
  background-color: var(--elementBackground);
  font-size: 24px;
  color: #616161;
  letter-spacing: -0.15px;
  line-height: 48px;
  text-align: left;
}
#userName {
  margin-right: 18px;
}
.customButton {
  height: 48px;
  background: #ededed !important;
  border-radius: 20px !important;
}
.buttonText {
  font-size: 24px;
  color: #616161;
  letter-spacing: -0.15px;
  text-align: left;
}
.img-head {
  width: 100%;
  max-height: 412px;
  z-index: 0;
  
}

.text-over-img {
  z-index: 1;
  font-size: 64px;
  color: var(--elementBackground);
  margin-top: -148px;
  margin-left: 132px;
  margin-bottom: 148px; 
}
.filters {
  background: var(--bodyBackground);
  display: flex;
  border-bottom-color: var(--lightBars);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  padding-bottom: 24px;
}
.pagingText {
  margin-right: 25px; 
  height: 49px;
}
#filtersButtons {
  padding-left: 25px;
  height: 49px;
  color: var(--lightFont);
}

#bsOverride .nav-link {
  background-color: var(--greyBackground);
  height: 48px;
  padding: 0px 16px;
  margin-left: 24px;
  border-radius: 20px;
}
#bsOverride .nav-text {
  border-left:var(--lightBars);
  border-left-style: solid;
  border-left-width: 1px; 
  padding-left: 25px;
}
#bsOverride .active {
  background-color: var(--cian);
}
#bsOverride .Arrowleft {
  margin-right: 12px;
}
#productsSection {
  margin: 0px 130px;
}
#bsOverride ul {
  list-style-type: none;
  padding: 0px;
}
#bsOverride .botMenu{
  margin-bottom: 70px;
}
#bsOverride .card {
  margin-top: 24px;
  padding: 12px;
  height: 276px;
  width: 276px;
}
#bsOverride .card-body {
  padding: 0px;
}
#bsOverride .imgContainer {
  max-height: 182px;
  max-width: 252px;
  border-bottom-color: var(--lightBars);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  margin-bottom: 20px;
}
#bsOverride .category {
  color: var(--lightFont);
  margin: 0px;
  font-size: 16px;
}
#bsOverride .name {
  color: var(--darkFont);
  margin: 0px;
  font-size: 18px;
}

#bsOverride .buyImg {
  position: absolute;
  z-index: 1;
  left: 222px;
}
#bsOverride .needButton {
  position: absolute;
  z-index: 1;
  left: 114px;
  height: 42px;
  opacity: 0.8;
  background:var(--darkFont);
  border-radius: 20px ;
}
#bsOverride .needText{
  color: var(--elementBackground);
  font-size: 14px;
  letter-spacing: -0.03px;
  text-align: right;
  margin-right: 6px;
}
#modal {
  z-index: 4;
}



/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
